@model CahootSOOA.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedAnswerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptedAnswerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunityOwnedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunityOwnedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FavoriteCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FavoriteCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastActivityDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastActivityDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditorDisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditorDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditorUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditorUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
